@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --blue-200: hsl(193, 38%, 86%);
  --green: hsl(150, 100%, 66%);

  --blue-600: hsl(217, 19%, 38%);
  --blue-900: hsl(217, 19%, 24%);
  --blue-950: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  font-family: "Manrope", sans-serif;
  background: var(--blue-950);
}

.app-container {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--blue-900);
}

.container-heading {
  color: var(--green);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-align: center;
}

.advice {
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  color: white;
  text-align: center;
}

.advice span {
  font-size: 28px;
}

.dice-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 100%;
  background: var(--green);
  position: relative;
  top: 4rem;
  margin-top: -3rem;
}

.dice-btn:hover {
  box-shadow: 0 0 2rem var(--green);
}

@media (min-width: 768px) {
  .advice-container {
    width: 40%;
    justify-self: center;
  }

  .advice {
    font-size: 28px;
  }
}
