@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --blue-200: hsl(193, 38%, 86%);
  --green: hsl(150, 100%, 66%);

  --blue-600: hsl(217, 19%, 38%);
  --blue-900: hsl(217, 19%, 24%);
  --blue-950: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  background: var(--blue-950);
}

.advice {
  font-size: 30px;
  font-weight: 800;
}

.advice span {
  font-size: 28px;
}
